# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
build
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore

# Misc
*.log
*.tgz 